<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title class="header-title">
      <img class="header-logo" src="https://firebasestorage.googleapis.com/v0/b/tutor-app-48dcb.appspot.com/o/logo_icon.png?alt=media&token=ac7d2931-4b49-42d5-912f-70573677f8ca">
      Smart Marketing Tribe
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="thankyou" padding>
  <h1 color="primary">
    Thank you
  </h1>
  <h3>
    We will get in touch with you shortly.
  </h3>
</ion-content>
