<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Ninja Tips
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="login">
  <div class="image-container">
    <img src="https://firebasestorage.googleapis.com/v0/b/tutor-app-48dcb.appspot.com/o/logo.png?alt=media&token=fe2143e9-565c-4a50-8b22-2bcc885dfa6c">
  </div>
  <h3 class="header-message">
  {{pageHeader}}
  </h3>
  <h4 class="foter-message" color="primary">
   {{pageDescription}}
  </h4>
  <ion-item>
      <button ion-button block (click)="pay()" type="submit">
       Buy Now
      </button>
  </ion-item>
</ion-content>
