.video-header {
     padding: 8px 16px !important;
     font-size: 2rem !important;
   }
   
   .video-container {
       position: relative;
       padding-bottom: 56.25%;
       padding-top: 30px; height: 0; overflow: hidden;
   }
   
   .video-container iframe,
   .video-container object,
   .video-container embed {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
   }
   
   ul {
     padding: 0px;
     margin: 0px;
   
     &.rating li {
       padding: 5px 10px;
       background: none;
       color: #ffb400;
   
       ion-icon {
         font-size: 25px;
       }
     }
   
   }
   
   .rightItems {
     display: flex;
     flex-direction: row;
     align-items: baseline;
     justify-content: space-around;
   }
   
   .iconButton {
     font-size: 18px;
   }
   