<!--
  Generated template for the AboutUsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title class="header-title">
      <img class="header-logo" src="https://firebasestorage.googleapis.com/v0/b/tutor-app-48dcb.appspot.com/o/logo_icon.png?alt=media&token=ac7d2931-4b49-42d5-912f-70573677f8ca">
      Smart Marketing Tribe
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-card-header>
      About us
    </ion-card-header>
  
    <ion-card-content>
      <p>  Smart Marketing Tribe (SMT) is a career skill development & knowledge services company based in Bengaluru, India. It imparts hands-on training on various courses in this fast-changing digital world. Over the years, SMT has completed 10000+ training hours across various age groups and categories. It has been consistently rated as best by its trainees in developing their Digital Marketing skill sets. SMT is run by professionals of IIM, Columbia university (US), Auckland University of Technology alumni.SMT launched its mobile and web App, ” Daily Tips Digital Marketing”. The App accelerates the process of learning digital marketing in the digital world.</p>
    </ion-card-content>
  
  </ion-card>
</ion-content>
