<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Live Course
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="login">
  <div class="image-container">
    <img src="https://firebasestorage.googleapis.com/v0/b/tutor-app-48dcb.appspot.com/o/logo.png?alt=media&token=fe2143e9-565c-4a50-8b22-2bcc885dfa6c">
  </div>
  <h3 class="header-message">
    Please fill the form and get early bird discount on our exclusive paid Internship program.
  </h3>
  <form [formGroup]="applyForm" (submit)="applyNow()" novalidate>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input #name formControlName="name" type="text" (change)="elementChanged(name)"
        [class.invalid]="!applyForm.controls.name.valid && (nameChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!applyForm.controls.name.valid  && (nameChanged || submitAttempt)">
      <p>Please enter a value.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        [class.invalid]="!applyForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!applyForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email id.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Phone Number</ion-label>
      <ion-input #phone formControlName="phone" type="number" (change)="elementChanged(phone)"
        [class.invalid]="!applyForm.controls.phone.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!applyForm.controls.phone.valid  && (passwordChanged || submitAttempt)">
      <p>Please enter a valid number.</p>
    </ion-item>

    <ion-item>
      <button ion-button block type="submit">
        Apply Now
      </button>
    </ion-item>
  </form>
  <h4 class="foter-message" color="primary">
    Get Trained - Get Certified - Get Placed
  </h4>
</ion-content>
