<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Reset your Password
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="reset-password">
  <div class="image-container">
    <img src="https://firebasestorage.googleapis.com/v0/b/tutor-app-48dcb.appspot.com/o/logo.png?alt=media&token=fe2143e9-565c-4a50-8b22-2bcc885dfa6c">
  </div>

  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="Your email address"
        [class.invalid]="!resetPasswordForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <button ion-button block type="submit">
        Reset your Password
      </button>
    </ion-item>
  </form>

</ion-content>
