<ion-header>
  <ion-navbar>
    <ion-title>
      App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let item of items">
    <div class="video-container">
      <iframe  [src]="item.url | safe" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <!-- <iframe  src="https://www.youtube.com/embed/l_Ei7CxXwuo" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
    </div>
    <ion-card-header class="video-header">
      {{item.title}}
    </ion-card-header>
    <ion-row>
      <ion-col>
        <rating [(ngModel)]="item.rating" (click)="ratingUpdated()"></rating>
      </ion-col>
      <ion-col class="rightItems" width-20 center text-center [style.color]="item.bookmarked">
        <ion-note>
          {{item.savedTime | MomentDate}}
        </ion-note>
        <button class="iconButton" (click)="bookmark(item.key)">
          <ion-icon *ngIf="item.bookmarked" name="bookmark" color="primary"></ion-icon>
          <ion-icon *ngIf="!item.bookmarked" name="bookmark" color="light"></ion-icon>
        </button>
        <button ion-button (click)="shareRecipe()">
          <ion-icon name="share"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
