<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Refer Friend
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="login">
  <div class="image-container">
    <img src="https://firebasestorage.googleapis.com/v0/b/tutor-app-48dcb.appspot.com/o/logo.png?alt=media&token=fe2143e9-565c-4a50-8b22-2bcc885dfa6c">
  </div>
  <h3 class="header-message">
    Refer a friend!
  </h3>
  <form [formGroup]="referForm" (submit)="applyNow()" novalidate>
    <ion-item>
      <ion-label floating>Friend's Name</ion-label>
      <ion-input #name formControlName="name" type="text" (change)="elementChanged(name)"
        [class.invalid]="!referForm.controls.name.valid && (nameChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!referForm.controls.name.valid  && (nameChanged || submitAttempt)">
      <p>Please enter a value.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Friend's Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        [class.invalid]="!referForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!referForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email id.</p>
    </ion-item>

    <ion-item>
      <button ion-button block type="submit">
        Submit
      </button>
    </ion-item>
  </form>
</ion-content>
