page-signup {
  form {
    margin-bottom: 32px;
    button {
      margin-top: 20px;
    }
  }

    p {
      font-size: 0.8em;
      color: #d2d2d2;
    }

    ion-label {
      margin-left: 5px;
    }

    ion-input {
      padding: 5px;
    }

    .invalid {
      border-bottom: 1px solid #FF6153;
    }

    .error-message .item-inner {
      border-bottom: 0 !important;
    }

}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container > img {
  width: 400px;
}

.socialLogin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialLogin > button {
  width: 48%;
  margin: 5px;
}
