<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Create an Account
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="signup">
  <div class="image-container">
    <img src="https://firebasestorage.googleapis.com/v0/b/tutor-app-48dcb.appspot.com/o/logo.png?alt=media&token=fe2143e9-565c-4a50-8b22-2bcc885dfa6c">
  </div>

  <div class="socialLogin">
    <img (click)="loginFacebook()" class="social-button" src="https://firebasestorage.googleapis.com/v0/b/tutor-app-48dcb.appspot.com/o/facebook.png?alt=media&token=2a29ba9a-22da-4beb-bf3c-cc3a77d635b2">
    <img (click)="loginGoogle()" class="social-button" src="https://firebasestorage.googleapis.com/v0/b/tutor-app-48dcb.appspot.com/o/google.png?alt=media&token=435d09b4-a9ca-4c32-97d3-b430a1948506"/>
    <img (click)="loginTwitter()" class="social-button" src="https://firebasestorage.googleapis.com/v0/b/tutor-app-48dcb.appspot.com/o/twitter.png?alt=media&token=b831f24c-6206-4ad7-b6cc-82c24f8553e8"/>
  </div>

  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="Your email address"
        [class.invalid]="!signupForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
        placeholder="Your password"
        [class.invalid]="!signupForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <ion-item>
      <button ion-button block type="submit">
        Create an Account
      </button>
    </ion-item>
  </form>

</ion-content>
